Repository jump-sdk/android--mobile-app-to-monitor-scanning-operations-8hsb1r, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jump/mobile-dev-leads, @jump/ui-team, @jump/api-integration-team, @jump/architecture-team, @jump/storage-team, @jump/network-team, @jump/qa-team, @jump/build-team, @jump/devops-team, @jump/documentation-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/.github/workflows/android_build.yml
  .github/workflows/android_build.yml
Owners: @jump/devops-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/.github/workflows/android_deploy.yml
  .github/workflows/android_deploy.yml
Owners: @jump/devops-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/.github/workflows/android_test.yml
  .github/workflows/android_test.yml
Owners: @jump/devops-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/docs/CONTRIBUTING.md
  docs/CONTRIBUTING.md
Owners: @jump/documentation-team, @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/docs/README.md
  docs/README.md
Owners: @jump/documentation-team, @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/docs/api/datadog_integration.md
  docs/api/datadog_integration.md
Owners: @jump/documentation-team, @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/docs/architecture/component_diagram.md
  docs/architecture/component_diagram.md
Owners: @jump/documentation-team, @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/docs/architecture/data_flow.md
  docs/architecture/data_flow.md
Owners: @jump/documentation-team, @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/docs/architecture/high_level_architecture.md
  docs/architecture/high_level_architecture.md
Owners: @jump/documentation-team, @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/docs/setup/build_instructions.md
  docs/setup/build_instructions.md
Owners: @jump/documentation-team, @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/docs/setup/development_environment.md
  docs/setup/development_environment.md
Owners: @jump/documentation-team, @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/infrastructure/config/datadog_metrics.json
  infrastructure/config/datadog_metrics.json
Owners: @jump/devops-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/infrastructure/config/firebase_setup.md
  infrastructure/config/firebase_setup.md
Owners: @jump/devops-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/infrastructure/scripts/setup_monitoring.sh
  infrastructure/scripts/setup_monitoring.sh
Owners: @jump/devops-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/scripts/build/build_release.sh
  scripts/build/build_release.sh
Owners: @jump/build-team, @jump/devops-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/scripts/deploy/deploy_to_internal_testing.sh
  scripts/deploy/deploy_to_internal_testing.sh
Owners: @jump/build-team, @jump/devops-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/scripts/setup/setup_development_environment.sh
  scripts/setup/setup_development_environment.sh
Owners: @jump/build-team, @jump/devops-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/scripts/testing/run_all_tests.sh
  scripts/testing/run_all_tests.sh
Owners: @jump/build-team, @jump/devops-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/.gitignore
  src/android/.gitignore
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/README.md
  src/android/README.md
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/build.gradle.kts
  src/android/build.gradle.kts
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/gradle.properties
  src/android/gradle.properties
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/gradlew
  src/android/gradlew
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/gradlew.bat
  src/android/gradlew.bat
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/settings.gradle.kts
  src/android/settings.gradle.kts
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/.gitignore
  src/android/app/.gitignore
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/build.gradle.kts
  src/android/app/build.gradle.kts
Owners: @jump/build-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/proguard-rules.pro
  src/android/app/proguard-rules.pro
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/androidTest/java/com/jump/scanmonitor/MainActivityTest.kt
  src/android/app/src/androidTest/java/com/jump/scanmonitor/MainActivityTest.kt
Owners: @jump/qa-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/androidTest/java/com/jump/scanmonitor/testutil/FakeRepository.kt
  src/android/app/src/androidTest/java/com/jump/scanmonitor/testutil/FakeRepository.kt
Owners: @jump/qa-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/androidTest/java/com/jump/scanmonitor/testutil/TestViewModelFactory.kt
  src/android/app/src/androidTest/java/com/jump/scanmonitor/testutil/TestViewModelFactory.kt
Owners: @jump/qa-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/androidTest/java/com/jump/scanmonitor/ui/screens/MetricsDashboardScreenTest.kt
  src/android/app/src/androidTest/java/com/jump/scanmonitor/ui/screens/MetricsDashboardScreenTest.kt
Owners: @jump/qa-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/AndroidManifest.xml
  src/android/app/src/main/AndroidManifest.xml
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/MainActivity.kt
  src/android/app/src/main/java/com/jump/scanmonitor/MainActivity.kt
Owners: @jump/mobile-dev-leads

.github/CODEOWNERS:

# This file defines who is responsible for reviewing and approving changes to different parts of the codebase

# Default owners for everything (fallback)
* @jump/mobile-dev-leads

# UI components
src/android/app/src/main/java/com/jump/scanmonitor/ui/** @jump/ui-team

# API integration
src/android/app/src/main/java/com/jump/scanmonitor/service/api/** @jump/api-integration-team

# Architecture components
src/android/app/src/main/java/com/jump/scanmonitor/viewmodel/** @jump/architecture-team
src/android/app/src/main/java/com/jump/scanmonitor/repository/** @jump/architecture-team
src/android/app/src/main/java/com/jump/scanmonitor/model/** @jump/architecture-team
src/android/app/src/main/java/com/jump/scanmonitor/di/** @jump/architecture-team

# Storage and network components
src/android/app/src/main/java/com/jump/scanmonitor/service/cache/** @jump/storage-team
src/android/app/src/main/java/com/jump/scanmonitor/service/network/** @jump/network-team

# Tests
src/android/app/src/test/** @jump/qa-team @jump/mobile-dev-leads
src/android/app/src/androidTest/** @jump/qa-team

# Build configurations
src/android/app/build.gradle.kts @jump/build-team

# CI/CD workflows
.github/workflows/** @jump/devops-team

# Documentation
docs/** @jump/documentation-team @jump/mobile-dev-leads

# Infrastructure and scripts
infrastructure/** @jump/devops-team
scripts/** @jump/build-team @jump/devops-team
