Repository jump-sdk/android--mobile-app-to-monitor-scanning-operations-8hsb1r, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jump/mobile-dev-leads, @jump/ui-team, @jump/api-integration-team, @jump/architecture-team, @jump/storage-team, @jump/network-team, @jump/qa-team, @jump/build-team, @jump/devops-team, @jump/documentation-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/ScanMonitorApplication.kt
  src/android/app/src/main/java/com/jump/scanmonitor/ScanMonitorApplication.kt
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/di/AppModule.kt
  src/android/app/src/main/java/com/jump/scanmonitor/di/AppModule.kt
Owners: @jump/architecture-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/model/ApiResponse.kt
  src/android/app/src/main/java/com/jump/scanmonitor/model/ApiResponse.kt
Owners: @jump/architecture-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/model/NetworkStatus.kt
  src/android/app/src/main/java/com/jump/scanmonitor/model/NetworkStatus.kt
Owners: @jump/architecture-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/model/Result.kt
  src/android/app/src/main/java/com/jump/scanmonitor/model/Result.kt
Owners: @jump/architecture-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/model/ScanMetrics.kt
  src/android/app/src/main/java/com/jump/scanmonitor/model/ScanMetrics.kt
Owners: @jump/architecture-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/model/UiState.kt
  src/android/app/src/main/java/com/jump/scanmonitor/model/UiState.kt
Owners: @jump/architecture-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/repository/ScanMetricsRepository.kt
  src/android/app/src/main/java/com/jump/scanmonitor/repository/ScanMetricsRepository.kt
Owners: @jump/architecture-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/repository/mapper/MetricsMapper.kt
  src/android/app/src/main/java/com/jump/scanmonitor/repository/mapper/MetricsMapper.kt
Owners: @jump/architecture-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/service/api/DatadogApiService.kt
  src/android/app/src/main/java/com/jump/scanmonitor/service/api/DatadogApiService.kt
Owners: @jump/api-integration-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/service/api/DatadogApiServiceImpl.kt
  src/android/app/src/main/java/com/jump/scanmonitor/service/api/DatadogApiServiceImpl.kt
Owners: @jump/api-integration-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/service/cache/MetricsCache.kt
  src/android/app/src/main/java/com/jump/scanmonitor/service/cache/MetricsCache.kt
Owners: @jump/storage-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/service/network/NetworkMonitor.kt
  src/android/app/src/main/java/com/jump/scanmonitor/service/network/NetworkMonitor.kt
Owners: @jump/network-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/ui/components/ErrorState.kt
  src/android/app/src/main/java/com/jump/scanmonitor/ui/components/ErrorState.kt
Owners: @jump/ui-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/ui/components/LoadingIndicator.kt
  src/android/app/src/main/java/com/jump/scanmonitor/ui/components/LoadingIndicator.kt
Owners: @jump/ui-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/ui/components/MetricsDisplay.kt
  src/android/app/src/main/java/com/jump/scanmonitor/ui/components/MetricsDisplay.kt
Owners: @jump/ui-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/ui/components/StatusBar.kt
  src/android/app/src/main/java/com/jump/scanmonitor/ui/components/StatusBar.kt
Owners: @jump/ui-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/ui/screens/MetricsDashboardScreen.kt
  src/android/app/src/main/java/com/jump/scanmonitor/ui/screens/MetricsDashboardScreen.kt
Owners: @jump/ui-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/ui/theme/Color.kt
  src/android/app/src/main/java/com/jump/scanmonitor/ui/theme/Color.kt
Owners: @jump/ui-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/ui/theme/Shape.kt
  src/android/app/src/main/java/com/jump/scanmonitor/ui/theme/Shape.kt
Owners: @jump/ui-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/ui/theme/Theme.kt
  src/android/app/src/main/java/com/jump/scanmonitor/ui/theme/Theme.kt
Owners: @jump/ui-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/ui/theme/Type.kt
  src/android/app/src/main/java/com/jump/scanmonitor/ui/theme/Type.kt
Owners: @jump/ui-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/util/TimeUtils.kt
  src/android/app/src/main/java/com/jump/scanmonitor/util/TimeUtils.kt
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/java/com/jump/scanmonitor/viewmodel/ScanMetricsViewModel.kt
  src/android/app/src/main/java/com/jump/scanmonitor/viewmodel/ScanMetricsViewModel.kt
Owners: @jump/architecture-team

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/res/drawable/ic_access_time.xml
  src/android/app/src/main/res/drawable/ic_access_time.xml
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/res/drawable/ic_cloud_done.xml
  src/android/app/src/main/res/drawable/ic_cloud_done.xml
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/res/drawable/ic_cloud_off.xml
  src/android/app/src/main/res/drawable/ic_cloud_off.xml
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/res/drawable/ic_error.xml
  src/android/app/src/main/res/drawable/ic_error.xml
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/res/drawable/ic_launcher_background.xml
  src/android/app/src/main/res/drawable/ic_launcher_background.xml
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/res/drawable/ic_launcher_foreground.xml
  src/android/app/src/main/res/drawable/ic_launcher_foreground.xml
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/res/drawable/ic_refresh.xml
  src/android/app/src/main/res/drawable/ic_refresh.xml
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  src/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  src/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/res/values-night/themes.xml
  src/android/app/src/main/res/values-night/themes.xml
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/res/values/colors.xml
  src/android/app/src/main/res/values/colors.xml
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/res/values/strings.xml
  src/android/app/src/main/res/values/strings.xml
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/res/values/themes.xml
  src/android/app/src/main/res/values/themes.xml
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/main/res/xml/network_security_config.xml
  src/android/app/src/main/res/xml/network_security_config.xml
Owners: @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/test/java/com/jump/scanmonitor/repository/ScanMetricsRepositoryTest.kt
  src/android/app/src/test/java/com/jump/scanmonitor/repository/ScanMetricsRepositoryTest.kt
Owners: @jump/qa-team, @jump/mobile-dev-leads

Add public-samples/android--mobile-app-to-monitor-scanning-operations-8hsb1r/src/android/app/src/test/java/com/jump/scanmonitor/repository/mapper/MetricsMapperTest.kt
  src/android/app/src/test/java/com/jump/scanmonitor/repository/mapper/MetricsMapperTest.kt
Owners: @jump/qa-team, @jump/mobile-dev-leads

.github/CODEOWNERS:

# This file defines who is responsible for reviewing and approving changes to different parts of the codebase

# Default owners for everything (fallback)
* @jump/mobile-dev-leads

# UI components
src/android/app/src/main/java/com/jump/scanmonitor/ui/** @jump/ui-team

# API integration
src/android/app/src/main/java/com/jump/scanmonitor/service/api/** @jump/api-integration-team

# Architecture components
src/android/app/src/main/java/com/jump/scanmonitor/viewmodel/** @jump/architecture-team
src/android/app/src/main/java/com/jump/scanmonitor/repository/** @jump/architecture-team
src/android/app/src/main/java/com/jump/scanmonitor/model/** @jump/architecture-team
src/android/app/src/main/java/com/jump/scanmonitor/di/** @jump/architecture-team

# Storage and network components
src/android/app/src/main/java/com/jump/scanmonitor/service/cache/** @jump/storage-team
src/android/app/src/main/java/com/jump/scanmonitor/service/network/** @jump/network-team

# Tests
src/android/app/src/test/** @jump/qa-team @jump/mobile-dev-leads
src/android/app/src/androidTest/** @jump/qa-team

# Build configurations
src/android/app/build.gradle.kts @jump/build-team

# CI/CD workflows
.github/workflows/** @jump/devops-team

# Documentation
docs/** @jump/documentation-team @jump/mobile-dev-leads

# Infrastructure and scripts
infrastructure/** @jump/devops-team
scripts/** @jump/build-team @jump/devops-team
